APP_ENV=local
WECHAT_APP_ID=wxb88840bf78c6cd4d
WECHAT_APP_SECRET=
TOKEN_SIGNING_KEY=
MYSQL_HOST=zuoti-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=zuoti
MYSQL_USER=
MYSQL_PASSWORD=
REDIS_HOST=zuoti-redis
REDIS_PORT=6379
REDIS_PASSWORD=
MONGODB_HOST=zuoti-mongodb
MONGODB_PORT=27017
MONGODB_DATABASE=zuoti_questions
MONGODB_USER=
MONGODB_PASSWORD=
MINIO_ENDPOINT=zuoti-minio:9000
MINIO_PUBLIC_BASE_URL=https://www.njwjxy.cn:30443/zuoti-minio
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
